<div class="card">
  <div class="card-body">
	<p>
	  <strong>Email:</strong>
	  <%= @article.email %>
	</p>

	<p>
	  <strong>Text:</strong>
	  <%= @article.text %>
	</p>
 </div>
 <div class="card-header">
  	<%= link_to 'Edit', edit_article_path(@article), class: "btn_show" %> 
	<%= link_to 'Back', root_path, class: "btn_show" %>
 </div>
</div>


